
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables, colores */
:root {
  --primary: #5e400f;
  --secondary: #daba86;
  --accent: #ee9106;
  --danger: #d04026;
  --light: #f5e8d2;
  --dark: #2b1c08;
}

/* --------------- ESTRUCTURA BASE --------------- */
body {
    background: var(--dark);
    color: var(--light);
    font-family: "MedievalSharp", cursive;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    height: 100vh;
    overflow: hidden;
}

header {
    height: 10vh; /* Requisito 10% */
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--secondary);
    box-sizing: border-box;
}



main {
    height: 70vh; /* Requisito 70% */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}


/* --------------- GESTIÓN DE ESCENAS --------------- */
/*cambiar las escenas*/
.scene {
    display: none;
}

.hidden{
    display: none;
}


/* --------------- FORMULARIO --------------- */
#escena-formulario {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

form {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#escena-formulario {
    display: flex;
    flex-direction: column;
    height: 100%; 
    justify-content: space-between;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 10px 20px;
}

.inputContainer {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputContainer label {
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.inputContainer input {
    width: 100%;
    padding: 6px 10px;
    font-size: 1rem;
    border: 1px solid var(--dark);
    box-sizing: border-box;
}


/* --------------- BOTONES --------------- */

#btn-empezar,#btn-mercado {
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    padding: 8px 10px;
    color: var(--dark);
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
    border: 2px solid var(--dark);
    transition: 0.2s;
}

#btn-empezar, #btn-mercado {
    background: var(--accent);
    font-size: 1.2rem;
    display: block;
    min-width: 100px;
}

#btn-empezar:hover:not(:disabled), #btn-mercado:hover:not(:disabled) {
    background: #ffba53;
    transform: scale(1.05);
}

#btn-empezar:disabled, #btn-mercado:disabled {
    background: #666;
    color: #999;
    cursor: not-allowed;
    border-color: #444;
}


/* --------------- JUGADORA --------------- */

.protagonista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#avatar-img {
    width: 150px;           
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

/* Grid */
.stats-grid {
    display: flex;
    justify-content: center;
    width: 100%;
}

#stat-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas*/
    gap: 10px;
    max-width: 600px;
}

/* Cada "cuadradito" de estadística */
.stat-item {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s;
}

.stat-item:hover {
    transform: scale(1.05);
    background-color: var(--dark);
}



/* --------------- FOOTER --------------- */
#footer {
    height: 20vh; /* Requisito 20% */
    background-color: var(--primary);
    border-top: 2px solid var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;

   
}

/* --------------- INVENTARIO --------------- */
#inventory-container {
    background-color: var(--secondary);
    display: flex;
    padding: 8px;
    margin: 5px;
    gap: 4px;
    border-radius: 10px;
    
}

.item {
    width: 60px;
    height: 60px;
    border: 1px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    transition: all 0.3s ease;
    overflow: hidden;

    
}

.item:hover {
    transform: scale(1.2); 
    box-shadow: var(--shadow-hover);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.item img{
    width: 100%;
}





